.application-search-container{
  text-align: center;
}

.application{
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}

.application.active{
  background-color: #eff;
}

.application.denied{
  background-color: #fee;
}

.x{
  visibility: hidden;
}

.application.denied .x{
  visibility: visible;
}


.date{
  font-size: 18px;
  border-left: 2px solid #dee;
  border-bottom: 2px solid #dee;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 8px;
  background-color: #7a9;
  margin-top: -12px;
  color: #fff;
  margin-right: 2px;
}

.date time{
  vertical-align: sub;
}

.position{
  font-size: 26px;
  color: #4a5;  
}

.position p{
  padding-left: 30px;
}

.skills{
  padding-top: 15px;
}

.skills-tooltip{
  background-color: rgba(255,255,255,1) !important;
  color: #fff !important;
  padding: 0px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.skills-list{
  max-width: 350px;

}

.skill-item{
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 1px;
  padding: 2px 4px;
  background-color: #69b;
}

.skills span{
  background-color: #f5f5aa;
  padding: 10px 16px;
  border-radius: 10px;
  color: #a0a254;
}

.resume span{
  color: #3aa;
  padding-left: 40px;
}



.center-align{
  text-align: center;
}